---
title: "240403 결과 정리"
author: "김보람"
date: "04/03/2024"
---

In [1]:
import pandas as pd
import os

## 240220

In [34]:
folder_path = './results'

In [35]:
all_data = []

In [36]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [6]:
merged_df = pd.concat(all_data, ignore_index=True)

In [7]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,GCN,NaN,0.963869,0.105485,0.833333,0.187266,0.957759,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,45280.0,0.4
1158,GCN,NaN,0.966034,0.115044,0.866667,0.203125,0.957106,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,35280.0,0.4
1159,GCN,NaN,0.971528,0.134715,0.866667,0.233184,0.955489,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,25280.0,0.4
1160,GCN,NaN,0.972527,0.139037,0.866667,0.239631,0.956621,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,15280.0,0.4
1161,GCN,NaN,0.971029,0.132653,0.866667,0.230088,0.957218,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,5280.0,0.4

In [8]:
merged_df.to_csv('./results/240220_meged.csv', index=False)

In [12]:
merged_df['train_cols'] = 'amt'

In [14]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,GCN,NaN,0.963869,0.105485,0.833333,0.187266,0.957759,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,45280.0,0.4
1158,GCN,NaN,0.966034,0.115044,0.866667,0.203125,0.957106,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,35280.0,0.4
1159,GCN,NaN,0.971528,0.134715,0.866667,0.233184,0.955489,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,25280.0,0.4
1160,GCN,NaN,0.972527,0.139037,0.866667,0.239631,0.956621,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,15280.0,0.4
1161,GCN,NaN,0.971029,0.132653,0.866667,0.230088,0.957218,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,5280.0,0.4

## 240307

In [2]:
folder_path = './results'

In [3]:
all_data = []

In [4]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [5]:
merged_df = pd.concat(all_data, ignore_index=True)

In [6]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693,NeuralNetFastAI,NaN,0.908928,0.926845,0.975234,0.950424,0.890713,False,Auto_not_best,0.900045,5004,['amt'],0.901679,1669,0.895147,NaN,NaN,NaN
2694,XGBoost,NaN,0.943679,0.956323,0.981928,0.968956,0.951813,False,Auto_not_best,0.900045,5004,['amt'],0.901679,1669,0.895147,NaN,NaN,NaN
2695,NeuralNetTorch,NaN,0.909527,0.927980,0.974565,0.950702,0.892102,False,Auto_not_best,0.900045,5004,['amt'],0.901679,1669,0.895147,NaN,NaN,NaN
2696,LightGBMLarge,NaN,0.947274,0.960079,0.981928,0.970880,0.942957,False,Auto_not_best,0.900045,5004,['amt'],0.901679,1669,0.895147,NaN,NaN,NaN
2697,WeightedEnsemble_L2,NaN,0.946675,0.957059,0.984605,0.970637,0.954372,False,Auto_not_best,0.900045,5004,['amt'],0.901679,1669,0.895147,NaN,NaN,NaN

In [7]:
merged_df.to_csv('./results/240307_meged.csv', index=False)

In [8]:
merged_df['train_cols'] = 'amt'

In [9]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693,NeuralNetFastAI,NaN,0.908928,0.926845,0.975234,0.950424,0.890713,False,Auto_not_best,0.900045,5004,amt,0.901679,1669,0.895147,NaN,NaN,NaN
2694,XGBoost,NaN,0.943679,0.956323,0.981928,0.968956,0.951813,False,Auto_not_best,0.900045,5004,amt,0.901679,1669,0.895147,NaN,NaN,NaN
2695,NeuralNetTorch,NaN,0.909527,0.927980,0.974565,0.950702,0.892102,False,Auto_not_best,0.900045,5004,amt,0.901679,1669,0.895147,NaN,NaN,NaN
2696,LightGBMLarge,NaN,0.947274,0.960079,0.981928,0.970880,0.942957,False,Auto_not_best,0.900045,5004,amt,0.901679,1669,0.895147,NaN,NaN,NaN
2697,WeightedEnsemble_L2,NaN,0.946675,0.957059,0.984605,0.970637,0.954372,False,Auto_not_best,0.900045,5004,amt,0.901679,1669,0.895147,NaN,NaN,NaN

## 240326

In [25]:
folder_path = './results'

In [26]:
all_data = []

In [27]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [28]:
merged_df = pd.concat(all_data, ignore_index=True)

In [29]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,LODA,1.380267,0.990775,0.000000,0.000000,0.000000,0.499843,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1657,LOF,1.171791,0.982414,0.001378,0.001345,0.001361,0.496291,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1658,MCD,0.101797,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1659,PCA,0.029553,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1660,ROD,15.238129,0.978524,0.000477,0.000672,0.000558,0.493995,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN

In [30]:
merged_df['train_cols'] = 'amt'

In [31]:
merged_df.to_csv('./results/240326_meged.csv', index=False)

In [32]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,LODA,1.380267,0.990775,0.000000,0.000000,0.000000,0.499843,False,pyod,0.009000,500499,amt,0.009029,166834,0.008913,NaN,NaN,NaN
1657,LOF,1.171791,0.982414,0.001378,0.001345,0.001361,0.496291,False,pyod,0.009000,500499,amt,0.009029,166834,0.008913,NaN,NaN,NaN
1658,MCD,0.101797,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,amt,0.009029,166834,0.008913,NaN,NaN,NaN
1659,PCA,0.029553,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,amt,0.009029,166834,0.008913,NaN,NaN,NaN
1660,ROD,15.238129,0.978524,0.000477,0.000672,0.000558,0.493995,False,pyod,0.009000,500499,amt,0.009029,166834,0.008913,NaN,NaN,NaN

## 240403

In [2]:
folder_path = './results'

In [3]:
all_data = []

In [4]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [5]:
merged_df = pd.concat(all_data, ignore_index=True)

In [6]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,LODA,1.380267,0.990775,0.000000,0.000000,0.000000,0.499843,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1644,LOF,1.171791,0.982414,0.001378,0.001345,0.001361,0.496291,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1645,MCD,0.101797,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1646,PCA,0.029553,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
1647,ROD,15.238129,0.978524,0.000477,0.000672,0.000558,0.493995,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN

In [7]:
merged_df.to_csv('./results/240403_meged.csv', index=False)

## 240404

In [40]:
folder_path = './results'

In [41]:
all_data = []

In [42]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [43]:
merged_df = pd.concat(all_data, ignore_index=True)

In [44]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,LODA,1.380267,0.990775,0.000000,0.000000,0.000000,0.499843,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
2031,LOF,1.171791,0.982414,0.001378,0.001345,0.001361,0.496291,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
2032,MCD,0.101797,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
2033,PCA,0.029553,0.990787,0.482782,0.471419,0.477033,0.733439,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN
2034,ROD,15.238129,0.978524,0.000477,0.000672,0.000558,0.493995,False,pyod,0.009000,500499,['amt'],0.009029,166834,0.008913,NaN,NaN,NaN

In [45]:
merged_df.to_csv('./results/240404_meged.csv', index=False)

## 240411

In [52]:
folder_path = './results'

In [53]:
all_data = []

In [54]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [55]:
merged_df = pd.concat(all_data, ignore_index=True)

In [56]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12823,NeuralNetFastAI,NaN,0.997890,0.000000,0.000000,0.000000,0.917705,False,Autogluon,0.008901,500499,['amt'],0.009087,13741,0.002110,NaN,NaN,NaN
12824,XGBoost,NaN,0.996580,0.178571,0.172414,0.175439,0.939455,False,Autogluon,0.008901,500499,['amt'],0.009087,13741,0.002110,NaN,NaN,NaN
12825,NeuralNetTorch,NaN,0.997162,0.187500,0.103448,0.133333,0.941711,False,Autogluon,0.008901,500499,['amt'],0.009087,13741,0.002110,NaN,NaN,NaN
12826,LightGBMLarge,NaN,0.997890,0.000000,0.000000,0.000000,0.944964,False,Autogluon,0.008901,500499,['amt'],0.009087,13741,0.002110,NaN,NaN,NaN
12827,WeightedEnsemble_L2,NaN,0.997162,0.187500,0.103448,0.133333,0.941711,False,Autogluon,0.008901,500499,['amt'],0.009087,13741,0.002110,NaN,NaN,NaN

In [57]:
merged_df.to_csv('./results/240411_meged.csv', index=False)