---
title: "240220 결과 정리"
author: "김보람"
date: "02/20/2024"
---

In [1]:
import pandas as pd
import os

In [2]:
folder_path = './results'

In [4]:
all_data = []

In [5]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [6]:
merged_df = pd.concat(all_data, ignore_index=True)

In [7]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,['amt'],0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,GCN,NaN,0.963869,0.105485,0.833333,0.187266,0.957759,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,45280.0,0.4
1158,GCN,NaN,0.966034,0.115044,0.866667,0.203125,0.957106,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,35280.0,0.4
1159,GCN,NaN,0.971528,0.134715,0.866667,0.233184,0.955489,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,25280.0,0.4
1160,GCN,NaN,0.972527,0.139037,0.866667,0.239631,0.956621,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,15280.0,0.4
1161,GCN,NaN,0.971029,0.132653,0.866667,0.230088,0.957218,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,5280.0,0.4

In [8]:
merged_df.to_csv('./results/240220_meged.csv', index=False)

In [12]:
merged_df['train_cols'] = 'amt'

In [14]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params,theta,gamma
0,ECOD,0.003704,0.591404,0.003553,0.843750,0.007076,0.717359,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
1,GMM,0.082634,0.692003,0.003410,0.609375,0.006782,0.650760,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
2,HBOS,0.002123,0.936368,0.020868,0.781250,0.040650,0.858943,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
3,IForest,0.144727,0.815358,0.007263,0.781250,0.014393,0.798334,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
4,INNE,0.326223,0.766636,0.005070,0.687500,0.010065,0.727136,False,pyod,0.097074,10010,amt,0.450350,37088,0.001726,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,GCN,NaN,0.963869,0.105485,0.833333,0.187266,0.957759,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,45280.0,0.4
1158,GCN,NaN,0.966034,0.115044,0.866667,0.203125,0.957106,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,35280.0,0.4
1159,GCN,NaN,0.971528,0.134715,0.866667,0.233184,0.955489,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,25280.0,0.4
1160,GCN,NaN,0.972527,0.139037,0.866667,0.239631,0.956621,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,15280.0,0.4
1161,GCN,NaN,0.971029,0.132653,0.866667,0.230088,0.957218,True,Proposed,0.300000,14014,amt,0.426431,6006,0.005000,NaN,5280.0,0.4